@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:ital,wght@1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.container{
    text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(0,0,0,0.4);
  
}
video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
h1{
font-family: 'Roboto', sans-serif;
font-style: italic;
font-size: 3rem;
color: rgba(0,0,0,0.6);
}

.title{
    font-size: 4rem;
    -webkit-text-stroke: 2px rgba(0,0,0,1);
    color: rgba(0,0,0,0.4);
}

.title:hover{
    -webkit-text-stroke: 2px rgba(0,0,0,1);
    color: rgba(0,0,0,1);
}

@media (max-width: 500px){
    h1{
        font-size: 2.5rem;
        position: absolute;
        top: 300px;
    }
    .title{
        font-size: 5rem;
        top: 30px;
        
    }
   
}